# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [4]:
df1.columns= df1.columns.str.lower().str.replace(" ", "_")
df1.rename(columns= {"st" :"state"}, inplace=True)
df2.columns= df2.columns.str.lower().str.replace(" ", "_")
df2.rename(columns= {"st" :"state"}, inplace=True)
df3.columns= df3.columns.str.lower().str.replace(" ", "_")
df3.rename(columns= {"st" :"state"}, inplace=True)

In [5]:
col = df1.columns 
df1 = df1.reindex(columns=col)
df2 = df2.reindex(columns=col)
df3 = df3.reindex(columns=col)

In [6]:
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].str.replace('%', '', regex=True)
df2["customer_lifetime_value"] = df2["customer_lifetime_value"].str.replace('%', '', regex=True)

In [7]:
df4 = pd.concat([df1, df2, df3], axis=0, ignore_index=True)

In [8]:
df4["customer_lifetime_value"] = pd.to_numeric(df4["customer_lifetime_value"], errors = 'coerce')

In [9]:
df4['gender'] = df4['gender'].replace({'female' : 'F' , 'Male': 'M', 'Femal': 'F'})

In [10]:
df4['state'] = df4['state'].replace('AZ', 'Arizona')
df4['state'] = df4['state'].replace('Cali', 'California')
df4['state'] = df4['state'].replace('WA', 'Washington')

In [11]:
df4['education'] = df4['education'].replace('Bachelors', 'Bachelor')

In [12]:
df4['vehicle_class'] = df4['vehicle_class'].replace({'Sports Car' : 'Luxury', 'Luxury SUV' : 'Luxury' , 'Luxury Car': 'Luxury'})

In [13]:
df4.isna().sum()

customer                     2937
state                        2937
gender                       3059
education                    2937
customer_lifetime_value      2944
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [14]:
df4.isna().sum()

customer                     2937
state                        2937
gender                       3059
education                    2937
customer_lifetime_value      2944
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [15]:
df4["customer_lifetime_value"].dtype

dtype('float64')

In [16]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(4), object(7)
memory usage: 1.0+ MB

In [34]:
df4.duplicated().sum()

0

In [33]:
df4.drop_duplicates(inplace=True)

In [45]:
df4.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [46]:
df4["gender"].value_counts()

F    4602
M    4405
Name: gender, dtype: int64

In [44]:
df4.dropna(inplace=True)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [71]:
data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [72]:
data.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [73]:
data.drop(columns=["unnamed:_0"], inplace=True)
data.columns = data.columns.str.lower().str.replace(" ", "_")
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])
data.drop(columns=['vehicle_type'], inplace=True)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [75]:
total_revenue_pivot = data.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum').round(2)

In [85]:
total_revenue_pivot

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [77]:
average_clv_pivot = data.pivot_table(index='gender', columns='education', values='customer_lifetime_value', aggfunc='mean').round(2)

In [78]:
print("\nAverage Customer Lifetime Value by Gender and Education Level:")
print(average_clv_pivot)

Average Customer Lifetime Value by Gender and Education Level:
education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [81]:
complaints_summary = data.pivot_table(index='month', columns='policy_type', values='number_of_open_complaints', aggfunc='sum', fill_value=0)

In [82]:
long_format_complaints = complaints_summary.reset_index().melt(id_vars=['month'], var_name='policy_type', value_name='number_of_complaints')

In [84]:
long_format_complaints

   month     policy_type  number_of_complaints
0      1  Corporate Auto            443.434952
1      2  Corporate Auto            385.208135
2      1   Personal Auto           1727.605722
3      2   Personal Auto           1453.684441
4      1    Special Auto             87.074049
5      2    Special Auto             95.226817